/* code will go here */
.carousel {
	margin: 80px;
	padding-bottom: 20px;
}

.modal-button {
	margin: 50px;
	background-color: #a2a392;
	border-color: #a2a392;
	color: black;
	font-size: 25px;
}

.modal-button:hover,
.add-button:hover {
	background-color: #301014;
	color: #a2a392;
	border-color: #301014;
	text-decoration: none;
}

.carousel-cards {
	margin: 0 0.75rem;
	background-color: #f6f0ed;
	border: 5px solid #a2a392;
	border-radius: 10px;
}

.card-title {
	min-height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.add-button {
	margin: 50px;
	background-color: #a2a392;
	border-color: #a2a392;
	color: black;
	padding: 10px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 25px;
}

.carousel-cards:hover {
	box-shadow: 5px 10px 20px 1px black;
}
