/* code will go here */
.categoryPageContainer {
	background-color: #f8f4e3;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
}

.categoryTitle {
	text-align: center;
	font-family: 'MedievalSharp', cursive;
	padding-top: 40px;
	padding-bottom: 40px;
}

.categoryCard {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	font-family: 'Lato', sans-serif;
}
