.itemPage {
	background-color: #f8f4e3;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	position: fixed;
	padding-bottom: 30px;
	overflow-y: auto;
}

.itemDescription {
	padding-top: 40px;
}

.itemTitle,
.listTitle {
	font-family: 'MedievalSharp', cursive;
}

.itemParagraph,
.itemList {
	font-family: 'Lato', sans-serif;
}
