.testing {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding-bottom: 80px;
	overflow-y: auto;
	background-color: #f8f4e3;
	font-family: 'MedievalSharp', cursive;
}

.addTitle {
	padding-top: 20px;
}

.categoryList {
	list-style-type: none;
}

.categoryListTitle {
	font-style: italic;
	font-size: 25px;
}

.listItem {
	font-style: normal;
	font-size: 20px;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.name-input,
.desc-input,
.value-input,
.weight-input,
.cat-input {
	width: 60%;
}

textarea:hover,
textarea:focus {
	background-color: #a2a392;
	color: #301014;
}
