.App {
	text-align: center;
	font-family: 'MedievalSharp', cursive;
	min-height: 100vh;
}

.bg {
	background-image: url('./images/WoodImg.jpeg');
	background-size: cover;
	background-attachment: fixed;
}
