input + button {
	margin-left: 8px;
	margin-top: 30px;
}

input {
	background-color: #0b0c10;
	color: #66fcf1;
	flex-grow: 1;
	font-size: 1rem;
	line-height: inherit;
	padding: 0.75rem 1rem;
	border: 0;
}

input::placeholder {
	color: #45a29e;
}

input:hover,
input:focus {
	background-color: #304545;
	color: #66fcf1;
}

.search-input {
	width: 40%;
}

button {
	background-color: #0b0c10;
	color: #45a29e;
	border: 0;
	flex-grow: 0;
	font-size: 1.4rem;
	line-height: 1;
	padding: 0.75rem 1rem;
	text-transform: uppercase;
}

button:hover {
	background-color: #304545;
	color: #66fcf1;
}
