input + button {
	margin-left: 8px;
	margin-top: 30px;
}

input {
	background-color: #301014;
	color: #a2a392;
	flex-grow: 1;
	font-size: 1rem;
	line-height: inherit;
	padding: 0.75rem 1rem;
	border: 0;
	font-family: 'Lato', sans-serif;
}

input::placeholder {
	color: #a2a392;
}

input:hover,
input:focus {
	background-color: #a2a392;
	color: #301014;
}

input:hover::placeholder {
	color: black;
}

.search-input {
	width: 40%;
}

button {
	background-color: #301014;
	color: #a2a392;
	border: 0;
	border-radius: 5px;
	flex-grow: 0;
	font-size: 1.45rem;
	line-height: 1;
	padding: 0.75rem 1rem;
	text-transform: uppercase;
}

button:hover {
	background-color: #a2a392;
	color: black;
}

.categoryCard {
	background-color: #f6f0ed;
	border: 5px solid #a2a392;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	font-family: 'Lato', sans-serif;
	justify-content: center;
}

.categoryPageContainer {
	padding-bottom: 70px;
}
